.categoria{
    width: 100% !important;
}

.apps{
    margin-top: 2% !important;
}

mat-card-actions{
    margin-left: 1% !important;
}

h2{
    font-weight: bold !important;
}

h3{
    font-weight: bold !important;
}

mat-card:hover{
    background-color: rgb(228, 205, 5) !important;
}


mat-grid-list{
    width: 100% !important;
}

.fa-star{
    color: rgb(199, 199, 16) !important;
}

