.install_btn{
    background-color: rgb(24, 218, 24) !important;
    color: white !important;
}

.close_btn{
    background-color: gray !important;
    color: white !important;
}

.app_text{
    text-align: left !important;
}

.fa-star{
    color: rgb(32, 94, 13) !important;
}

.calificacion{
    color: rgb(32, 94, 13) !important;
}

.btn_calificacion{
    margin-left: 3% !important;
    box-shadow: none !important;
}


.btn_valoracion{
    margin-bottom: 3% !important;
    box-shadow: none !important;
}

.card_v{
    margin-bottom: 5% !important;
}