<h3>Editar calificación de <b>{{data_app.nombreAplicacion}}</b></h3>
<br>
<mat-divider></mat-divider>
<br>
<h4>Calificación actual <b>{{data_app.calificacionAplicacion}}.0</b></h4>
<br>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Nueva calificación</mat-label>
    <input matInput type="number" [(ngModel)]="new_calificacion" max="5" min="1">
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="guardarCalificacion()">Guardar Calificación</button>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="openModalDetalle()">Cancelar</button>
</div>
